footer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    img{
        width: 10%;
        padding-bottom: 20px;;
    }
    p{
        color: white;
        font-size: small;
        padding-top: 35px;
        padding-bottom: 5px;
    }
}